<%- include('../../partials/head.ejs')%>

<div class="container my-5">
    <div class="row">
        <div class="col-md-7 offset-md-2">
            <div class="card card-body">
                <section>
                    <h3><%= post.title %></h3>
                    <div class="d-flex">
                        <small>
                            <%= moment( post.createdAt ) %>
                            posted By <a href="/author/<%= post.author._id%>">
                                <%= post.author.username %>
                            </a> ,
                            <%= post.readTime %>
                        </small>
                        <% if(user) { %>
                        <span class="ml-auto bookmark" data-post="<%= post._id %>">
                            <% if(bookmarks.includes(post._id)) { %>
                            <i class="fas fa-bookmark"></i>
                            <% } else { %>
                            <i class="far fa-bookmark"></i>
                            <% } %>
                        </span>
                        <% } %>
                    </div>
                    <% if( post.thumbnail ) {  %>
                    <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="img-fluid my-2">
                    <%  }  %>
                    <section>
                        <%= post.body %>
                    </section>
                    <% if(!user) { %>
                    <button class="btn btn-success btn-sm disabled">
                        Like <%= post.likes.length %>
                    </button>
                    <button class="btn btn-danger btn-sm disabled">
                        Dislike <%= post.dislikes.length %>
                    </button>
                    <p class="text-center text-muted">
                        To like and comment pls Login <a href="/auth/login">Login here</a>
                    </p>
                    <% } else { %>
                    <button class="btn btn-success btn-sm" id="likeBtn" data-post="<%= post._id%>">
                        <%= post.likes.includes( user._id ) ? 'Liked' : 'Like' %> <%= post.likes.length %>
                    </button>
                    <button class="btn btn-danger btn-sm" id="dislikeBtn" data-post="<%= post._id%>">
                        <%= post.dislikes.includes( user._id ) ? 'Disliked' : 'Dislike' %> <%= post.dislikes.length %>
                    </button>
                    <div class="mt-5">
                        <label for="comment">Leave A Comment</label>
                        <input type="text" id="comment" class="form-control" placeholder="Please Enter to Submit"
                            data-post="<%= post._id%>">
                    </div>
                    <div class="mt-5" id="comment-holder">
                        <% if(post.comments.length === 0 ) { %>
                        <p class="text-center text-muted">
                            There is no comment
                        </p>
                        <% } else {
                            for ( let comment of post.comments.reverse() )  {%>
                        <div class="media-border">
                            <img src="<%= comment.user.profile_pic %>" alt="<%= comment.user.username %>"
                                class="rounded-circle mx-3 my-1" style="width: 40px">
                            <div class="media-body mx-5 my-1">
                                <p><%= comment.body %>
                                    <small>
                                        (<%= moment( comment.createdAt ) %>)
                                    </small>
                                </p>

                                <div name="replies">
                                    <%  if( comment.replies.length > 0 ) {
                                                for( let replay of comment.replies ) { %>
                                    <div class="media mt-3">
                                        <img src=" <%= replay.user.profile_pic %>"
                                            class="align-selt-start mr-3 rounded-circle" style="width: 40px">
                                        <div class="media-body">
                                            <p> <%= replay.body %></p>
                                        </div>
                                    </div>
                                    <% }
                                            } %>
                                </div>
                                <div class="my-3">
                                    <input type="text" placeholder="Please Enter to Replay" class="form-control"
                                        name="replay" data-comment="<%= comment._id %>">
                                </div>
                            </div>
                        </div>
                        <%} }%>
                    </div>
                    <% } %>
                </section>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs')%>