<%- include('../../../partials/head.ejs') %>

<div class="container-fluid my-container my-5">
    <div class="row">
        <div class="col-md-2">
                <%- include('../../../partials/sidebar.ejs') %>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h4><%= title %></h4>
                    <div class="card card-body my-5">
                        <div>
                            <form action="/post/create" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="title">Title: </label>
                                    <input type="text" class="form-control <%= error.title ? 'is-invalid' : '' %>" name="title" placeholder="Post Title"
                                        id="title" value="<%= value.title ? value.title : '' %>">
                                    <div class="invalid-feedback">
                                        <%= error.title && error.title %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="tiny-mce-post-body">Post Body:</label>
                                    <textarea type="text" class="form-control <%= error.body ? 'is-invalid' : '' %>" name="body" placeholder="Post body"
                                        id="tiny-mce-post-body" value="<%= value.body ? value.body : '' %>"></textarea>
                                    <div class="invalid-feedback">
                                        <%= error.body && error.body %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bio">Type some tags:</label>
                                    <input type="text" class="form-control <%= error.tags ? 'is-invalid' : '' %>" name="tags"
                                        placeholder="Tags ex tag1, tag2,tag3  ....." id="tags" value="<%= value.tags ? value.tags : '' %>">
                                </div>
                                <div class="invalid-feedback">
                                    <%= error.tags && error.tags %>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFile">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" name="post-thumnail" class="custom-file-input"
                                            id="inputGroupFile" accept="image/*">
                                        <label for="inputGroupFIle" class="custom-file-input">Choose File</label>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary btn-sm my-2" value="Post Create">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../../partials/footer.ejs') %>